<!DOCTYPE html>
<html>

  <head>
    <!--Google Analytics Tag-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8P81R6B46S"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8P81R6B46S');
</script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    
        <!--Round 1-->
        <div align="center";>
        <h1 style="font-size:40px">Robot Bracket Battle</h1><br>

        <h1 style="font-size:25px">Round 1</h1>
        <table>
        <!--Row 1-->
        <tr><td><img src = "https://robohash.org/{{player_roster['match 1'][0][0]}}.png" width='80'></td>
          <td>{{player_roster['match 1'][0][0].title()}}<br>0</td>

          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          
          <td><img src = "https://robohash.org/{{player_roster['match 4'][0][0]}}.png" width='80'></td>
          <td>{{player_roster['match 4'][0][0].title()}}<br>0</td>
          
        </tr>
        
        

        <!--Row 2-->
        <tr>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "https://robohash.org/{{player_roster['match 1'][1]}}.png" width='80'></td>
          <td>{{player_roster['match 1'][1].title()}}<br>1</td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "https://robohash.org/{{player_roster['match 4'][1]}}.png" width='80'></td>
          <td>{{player_roster['match 4'][1].title()}}<br>1</td>
        </tr>

        <!--Row 3-->
        <tr><td><img src = "https://robohash.org/{{player_roster['match 1'][0][1]}}.png" width='80'></td>
        <td>{{player_roster['match 1'][0][1].title()}}<br>0</td>
        <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>

          <!--winner-->

          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
                   
          <td><img src = "https://robohash.org/{{player_roster['match 4'][0][1]}}.png" width='80'></td>
          <td>{{player_roster['match 4'][0][1].title()}}<br>0</td>
        
        </tr><br><br>


        <!--Row 4-->
        <tr>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "https://robohash.org/{{player_roster['match 3'][1]}}.png" width='80'></td>
          <td>{{player_roster['match 3'][1].title()}}<br>2</td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "https://robohash.org/{{player_roster['match 6'][1]}}.png" width='80'></td>
          <td>{{player_roster['match 6'][1].title()}}<br>2</td>
        </tr>


        <!--Row 5-->
        <tr><td><img src = "https://robohash.org/{{player_roster['match 2'][0][0]}}.png" width='80'></td>
        <td>{{player_roster['match 2'][0][0].title()}}<br>0</td>
        <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          
          <td><img src = "https://robohash.org/{{player_roster['match 5'][0][0]}}.png" width='80'></td>
          <td>{{player_roster['match 5'][0][0].title()}}<br>0</td>


        </tr>


        <!--Row 6-->
        <tr>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "https://robohash.org/{{player_roster['match 2'][1]}}.png" width='80'></td>
          <td>{{player_roster['match 2'][1].title()}}<br>1</td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "https://robohash.org/{{player_roster['match 5'][1]}}.png" width='80'></td>
          <td>{{player_roster['match 5'][1].title()}}<br>1</td>
        </tr>

        <!--Row 7-->
        <tr><td><img src = "https://robohash.org/{{player_roster['match 2'][0][1]}}.png" width='80'></td>
        <td>{{player_roster['match 2'][0][1].title()}}<br>0</td>
        <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          
          <td><img src = "https://robohash.org/{{player_roster['match 5'][0][1]}}.png" width='80'></td>
          <td>{{player_roster['match 5'][0][1].title()}}<br>0</td>
        </tr>
         </table>

         <a href="https://RBG.a00238220.repl.co"><button>Play again</button></a>
         </div><br><br><br>



    
        <!--Round 2-->
        <div align="center";>

        <h1 style="font-size:25px">Round 2</h1>
        <table>
        <!--Row 1-->
        <tr><td><img src = "https://robohash.org/{{player_roster['match 7'][0][0]}}.png" width='80'></td>
        <td>{{player_roster['match 7'][0][0].title()}}<br>0</td>
        <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          
          <td><img src = "https://robohash.org/{{player_roster['match 10'][0][0]}}.png" width='80'></td>
          <td>{{player_roster['match 10'][0][0].title()}}<br>0</td>
        </tr>

        <!--Row 2-->
        <tr>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "https://robohash.org/{{player_roster['match 7'][1]}}.png" width='80'></td>
          <td>{{player_roster['match 7'][1].title()}}<br>1</td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "https://robohash.org/{{player_roster['match 10'][1]}}.png" width='80'></td>
          <td>{{player_roster['match 10'][1].title()}}<br>1</td>
        </tr>

        <!--Row 3-->
        <tr><td><img src = "https://robohash.org/{{player_roster['match 7'][0][1]}}.png" width='80'></td>
        <td>{{player_roster['match 7'][0][1].title()}}<br>0</td>
        <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>

          <!--winner-->

          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
                   
          <td><img src = "https://robohash.org/{{player_roster['match 10'][0][1]}}.png" width='80'></td>
          <td>{{player_roster['match 10'][0][1].title()}}<br>0</td>
        
        </tr><br><br>


        <!--Row 4-->
        <tr>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "https://robohash.org/{{player_roster['match 9'][1]}}.png" width='80'></td>
          <td>{{player_roster['match 9'][1].title()}}<br>2</td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "https://robohash.org/{{player_roster['match 12'][1]}}.png" width='80'></td>
          <td>{{player_roster['match 12'][1].title()}}<br>2</td>
        </tr>


        <!--Row 5-->
        <tr><td><img src = "https://robohash.org/{{player_roster['match 8'][0][0]}}.png" width='80'></td>
        <td>{{player_roster['match 8'][0][0].title()}}<br>0</td>
        <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          
          <td><img src = "https://robohash.org/{{player_roster['match 11'][0][0]}}.png" width='80'></td>
          <td>{{player_roster['match 11'][0][0].title()}}<br>0</td>


        </tr>


        <!--Row 6-->
        <tr>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "https://robohash.org/{{player_roster['match 8'][1]}}.png" width='80'></td>
          <td>{{player_roster['match 8'][1].title()}}<br>1</td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "https://robohash.org/{{player_roster['match 11'][1]}}.png" width='80'></td>
          <td>{{player_roster['match 11'][1].title()}}<br>1</td>
        </tr>

        <!--Row 7-->
        <tr><td><img src = "https://robohash.org/{{player_roster['match 8'][0][1]}}.png" width='80'></td>
        <td>{{player_roster['match 8'][0][1].title()}}<br>0</td>
        <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          
          <td><img src = "https://robohash.org/{{player_roster['match 11'][0][1]}}.png" width='80'></td>
          <td>{{player_roster['match 11'][0][1].title()}}<br>0</td>
        </tr>
         </table>

        <br><br>



        <!--Final Round-->
        <div align="center";>

        <h1 style="font-size:25px">Final Round</h1>
        <table>
        <!--Row 1-->
        <tr><td><img src = "https://robohash.org/{{player_roster['match 13'][0][0]}}.png" width='80'></td>
        <td>{{player_roster['match 13'][0][0].title()}}<br>2</td>
        <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          
          <td><img src = "https://robohash.org/{{player_roster['match 14'][0][0]}}.png" width='80'></td>
          <td>{{player_roster['match 14'][0][0].title()}}<br>2</td>
        </tr>

        <!--Row 2-->
        <tr>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "https://robohash.org/{{player_roster['match 15'][0][0]}}.png" width='80'></td>
          <td>{{player_roster['match 15'][0][0].title()}}<br>3</td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          
          <!--winner-->
          <td><img src = "https://robohash.org/{{player_roster['match 15'][1]}}.png" width='80'></td>
          <td>Champion: <b>{{player_roster['match 15'][1].title()}}🏆</b><br>Total of <b>4</> points<br>Congratulations!!!</td>
          <td></td>

          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "https://robohash.org/{{player_roster['match 15'][0][1]}}.png" width='80'></td>
          <td>{{player_roster['match 15'][0][1].title()}}<br>3</td>
        </tr>

        <!--Row 3-->
        <tr><td><img src = "https://robohash.org/{{player_roster['match 13'][0][1]}}.png" width='80'></td>
        <td>{{player_roster['match 13'][0][1].title()}}<br>2</td>
        <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          
          <!--winner-->
          <!--
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          <td><img src = "/static/bp.png" width='30'></td>
          -->
          <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>        
          <td><img src = "https://robohash.org/{{player_roster['match 14'][0][1]}}.png" width='80'></td>
          <td>{{player_roster['match 14'][0][1].title()}}<br>2</td>
        
        </tr><br><br>
        </table>

         <a href="https://RBG.a00238220.repl.co"><button>Play again</button></a>
         </div>

    
    <script src="script.js"></script>
    </div>
    
  </body>
  
</html>